<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Utilisateurs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ihm.css') }}">
</head>

<body class="corps-tableau-de-bord">

<div class="barre-laterale">
    <h2>RFID</h2>

    <a href="/dashboard">Tableau de bord</a>
    <a href="/materiels">Matériels</a>
    <a href="/historique">Historique</a>
    <a href="/utilisateurs"class="actif">Utilisateurs</a>
{% if session["admin"] == 1 %}
    <a href="/admin" class="admin-btn"> Administration</a>
{% endif %}
<a href="/logout" class="deconnexion">Déconnexion</a>

</div>

<div class="contenu-tableau-de-bord">

    <header class="entete-tableau-de-bord">
        <h1>Utilisateurs</h1>
        <span>Connecté : <strong>{{ prenom }} {{ nom }}</strong></span>
    </header>

<div class="conteneur-tableau utilisateurs-table">

        <table>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Identifiant</th>
                <th>Rôle</th>
                <th>Matériels empruntés</th>
            </tr>

            {% for u in utilisateurs %}
            <tr>
                <td>{{ u.nom }}</td>
                <td>{{ u.prenom }}</td>
                <td>{{ u.utilisateur }}</td>
                <td>{{ u.role }}</td>
                <td>
                    {% if u.nb_emprunts > 0 %}
                        <span class="badge badge-blue">{{ u.nb_emprunts }}</span>
                    {% else %}
                        <span class="badge badge-grey">0</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

</body>
</html>



